<nb-card status="success">
  <nb-card-header>
    <!-- All Courses List<span></span><button nbButton shape="rectangle" hero status="primary">Rectangle Hero</button> -->
    <div class="modal-header">               
        <div class="popupTitle">All Courses List</div>
        <button nbButton shape="semi-round" size="xsmall" outline (click)="courseAddEdit();">Add New</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <h3>All Courses</h3>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>
